*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,h4,.lista-menu,.Text{font-family: 'Niramit', sans-serif;
}
h1,h2,h3{font-family: 'Fredoka One', cursive; }

.icon-paw{text-shadow: 4px 4px 4px black;}

.Text{width: 25%;background-color: #fa8cabde; border-radius: 8px; line-height: 15px; }

#blog>h3{background-color:#acfa8c; font-size: x-large;}

.body{ background-image: url(../img/hi.png)}
main{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 505x;
    background:#8cacfa;
    color: #fff;
    position: fixed;
    top: 0 ;
    left: 0;
    z-index: 100;
}
.contenedor{
    width: 98%;
    margin: auto;
}


#nav-bar{
    display: none;
}
header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}
h1{
    float: left;
}
header .contenedor{
    display: table;
}
.menu{
position: absolute;
width: 100%;
height: 100vh;
background: #fa8cac;
top: 50px;;
left:0;
transition: all 0.5s;
transform: translateX(-100%);
}
#nav-bar:checked ~ .menu{
    transform: translateX(0%);
}
.lista-menu li{
    display:inline;
    padding-left:3px;
    padding-right:3px;

}
.lista-menu li a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration:none ;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255,255, 0.5) ;

}
.lista-menu li a:hover{
    
    background:#acfa8c;
    color: black;
}
section{
    width: 100%;
    margin-bottom: 25px;
}

#banner{
margin-top: 50px;
position: relative;
width: 100vw; 
}



#banner img{
    width: 100%;
    height: 100%;
}
#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
    color: #fff;
}
#banner h2{
    font-size: 25px;
}
#banner a{
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}
#banner a:hover{
    
    background:#acfa8c;
    color: black;
}
#bienvenidos{
    text-align: center;
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fa8cac;
}
#blog article{
    margin: 15px;
}
#blog img {
    width: 100%;
    max-width: 280px;
    border-radius: 20px;
}
#blog h3, h4{
    text-align: center;
}

#info{
    background:#acfa8c;
    color:black;
    text-align: center;
    text-shadow: 4px 4px 4px rgb(255, 255, 255);
    padding: 20px;
}
#info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-pet{
    margin: 20px;
}
.info-pet img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fa8cac;
}
footer  .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy{
    font-size: 20px;
    
}
.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #8cacfa;
    text-decoration: none;

}



@media (min-width: 1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;

    }
    header label{
        display: none;
    }
    
    .lista-menu {
        display:flex;
        flex-wrap: wrap;
    
    }
    .contenedor{
        width: 1000px;
    }
    #banner img{
        margin-top: -450px !important;
    }
    .Text{line-height: 20px;}
}
@media (min-width: 480px){
    #banner h2{
        font-size: 50px;
    }
    #banner a {
        margin-top: 25px;
    }
    
}
@media (min-width: 768px){
    #banner{
        height: 300px;
        overflow: hidden;
    }
    #banner img{
        height: auto;
        margin-top: -100px;

    }
    
    
}
 @media (max-width:396px) {
    .Text{ font-size: small;}
     
 }